* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* nav */

nav {
    position: sticky;
    /* Para pomer un sticky, se debe de seleccionar desde donde arranca con top o bottom*/
    top: 0px;
    background-color: #fff;
    margin: 0 1%;
}

#navbar-pinterest {
    z-index: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-family: sans-serif;
    gap: 10px;
}

#pinterest-icon {
    margin-left: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.inicio .text{ 
    margin: 2px;
}

.r-button {
    background-color: #111111;
    color: #ffffff;
    font-size: 16px;
    border-radius: 40px;
    padding: 15px 16px;
    border: none;
    cursor: pointer;
}


.search-bar {
    display: flex;
    background-color: #d5d5d5;
    width: 100%;
    /* El poner un porcentaje es para mostrar en todos los tamaños de pantalla la misma relación */
    height: 50px;
    border-radius: 40px;
}

.search-bar input {
    width: 80%;
    background-color: transparent;
    border: none;
    font-size: 17px;
    cursor: text;
}

input:focus {
    outline: none;
}

.search-bar button img {
    width: 17px;
    margin: auto;
    cursor: pointer;
}

.search-bar button {
    margin-left: 5px;
    padding: 17px 9px;
    background-color: transparent;
    border: none;
}

.search-bar:hover {
    background-color: #e5e5e5;
}

#navbar-pinterest h4{
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 10px;
    height: 56px;

}

.icons img {
    margin: 16px;
}

.icons #notifications:hover, #messages:hover, #profile-img:hover {
    background: #e5e5e5;
    ;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    width: 25px;
}

.icon-pinterest {
    width: 30px;
}

.profile {
    border-radius: 20px;
}


/* Content */

.container {
    max-width: 12 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.col {
    flex: 10%;
    /* flex sirve para determinar el porcentaje de espacio que va a tener cada elemento */
    padding: 0 5px;
    /* Aqui el padding nos ayudo a rellenar el contenedor */
}

/* No olvidar que esta primera col es para el tamaño en el escritorio o pc */

.col img {
    margin-top: 5px;
}

img {
    width: 100%;
    border-radius: 8px;
}

/* Hover */
.card-image {
    position: relative;
}

.card-image .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    border-radius: 9px;
    margin: 4px 0px;
}

.card-image:hover .layer {
    opacity: 1;
}

.save-button {
    font-size: 16px;
    border-radius: 40px;
    padding: 15px 20px;
    border: none;
    background-color: rgb(188, 32, 32);
    color: white;
    align-self: flex-end;
    cursor: pointer;
}

.save-button:hover {
    background-color:rgb(119, 24, 24);
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.gray-button {

    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 0.7;
    color: #111111;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.gray-button:hover {
    background-color:rgb(200, 200, 200);
}


/* Para hacer adaptable el diseño a los celulares vienen las media queries*/

@media (max-width: 1200px) {
    .col {
        flex: 50%;
    }
}

@media (max-width: 800px) {

    .col {
        flex: 100%;
    }
}